<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TravelManage.WebApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proprietarios">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Proprietários
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="veiculos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Veículos
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="motoristas">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Motoristas
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="passageiros">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Passageiros
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tipopagamentos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tipo Pagamentos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="viagens">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Viagens
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="veiculos-by-viagem">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Relatório 1
            </NavLink>
        </div>

        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="top-faturamento">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Relatório 2
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="faturamento-veiculo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Relatório 3
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="media-mensal-viagem">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Relatório 4
            </NavLink>
        </div>


    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
